body {
    background-color: #2e2e2e;
    font-family: "Courier New", monospace;
    font-weight: 300;
    font-style: normal;}
h1 {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    background-color: #1c1c1c;
    color: #ff6347;
    padding: 1em;}
h2 {
    color: #ff4500;
    width: 500px;
    margin: 1em auto;
    text-align: center;}
section {
    width: 500px;
    margin: 1em auto;
    background-color: #404040;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);}
section p {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.6;}
.start-button {
    display: block;
    margin: 1em auto;
    padding: 10px 1px;
    background: #ff4500;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    transition: background-color 0.3s ease;}
.start-button:hover {
    color: #e03d00;}
footer {
    background-color: #1c1c1c;
    padding: 10px;
    margin-top: 20px;
    color: #cccccc;
    font-size: 0.9rem;
    text-align: center;}
h1, h2 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}
p, a {
    width: 500px;
    margin: 0.5em auto;
    color: #ffffff;}
a {
    text-decoration: none;}
a:hover {
    color: #ff6347;}
p.credits {
    font: 0.7em sans-serif;}
p.start {
    font-style: italic;
    margin: 1em auto;}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;}
